
// COLORS
$color-primary: #f44336;
$color-second: #666;
$color-body: #333;

// FONTS
$fontsize-body: 15px;
$font-family: 'Raleway', sans-serif;

//view range
$view-ranges: (
  mobile: 352px,
  tablet: 750px,
  tablet-large: 970px,
  desktop: 1170px,
);
// Screen Size
$screen-sizes: (
  desktop: 1280px,
  tablet: 768px,
  tablet-large: 992px,
  mobile: 360px,
);
