.header {
  background-color: red;

  @include element('logo') {
    & > a {
      font-size: 25px;
      text-decoration: none;
      font-weight: bold;
      color: #fff;
    }
  }

  @include element('content') {
    height: 50px;
    display: flex;
    align-items: center;
  }

  @include element('menu') {
    margin-left: auto;
    border: 1px solid $color-second;
    padding: 4px 8px 4px 8px;

    @include screen-media('tablet') {
      border: none;
    }
  }
}

.nav {
  @include modifier('mobile') {
    font-size: 25px;
    color: $color-second;

    @include screen-media('tablet') {
      display: none;
    }
  }

  @include modifier('desktop') {
    display: none;

    @include screen-media('tablet') {
      display: flex;
    }
  }

  @include element('items') {
    display: flex;
  }

  @include element('item') {
    padding-left: 15px;
    padding-right: 15px;
    list-style-type: none;
    font-size: 14px;

    & > a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  @include element('item-icon') {
    font-size: 14px;
    color: #fff;
  }
}
