.info {
  background-color: #fff;
  display: flex;

  @include element('text') {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    color: $color-body-text;
  }

  @include element('icon') {
    font-size: 24px;
    height: 24px;
    width: 24px;
    color:$color-icon;
    margin-left: 32px;
    margin-right: 16px;
  }
}
