.input {
  display: flex;
  margin-left: -16px;
  margin-right: -16px;
  width:75%;

  @include element('adding') {
    margin-left: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #eae3e3;
    height: 40px;
    width: 27%;
    background-color: $color-bg-input-add;
    color: $color-text-input;
    font-size: 16px;

    @include modifier('mail') {
      width: 40%;
    }
  }

  @include element('editing') {
    margin-left: 16px;
    padding-left: 16px;
    padding-right: 16px;
    height: 40px;
    width: 27%;
    background-color: $color-bg-input-save;
    border: 1px solid #eae3e3;
    color: $color-body-text;
    font-size: 16px;

    @include modifier('mail') {
      width: 40%
    }
  }
}
