.section-title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

  @include screen-media('desktop') {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  @include element('text') {
    font-size: 20px;
    color: $color-primary;
    margin: 0;
    padding-bottom: 16px;

    @include screen-media('tablet') {
      font-size: 36px;
    }

    & > span {
      color: $color-second;
    }
  }

  @include element('icon') {
    font-size: 20px;
    color: red;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &::before {
      width: 50px;
      display: inline-block;
      align-items: center;
      content: '';
      border-bottom: 2px solid red;
      margin-right: 12px;
    }

    &::after {
      width: 50px;
      display: inline-block;
      align-items: center;
      content: '';
      border-bottom: 2px solid red;
      margin-left: 12px;
    }
  }
}
