.core-values {
  display: block;

  @include screen-media('tablet') {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include screen-media('desktop') {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include element('item') {
    background-color: #f44336;
    width: 100%;
    padding-top: 24px;
    text-align: center;
    padding-bottom: 24px;
    margin-bottom: 24px;

    @include screen-media('tablet') {
      width: calc(50% - 12px);
    }
  
    @include screen-media('desktop') {
      
    }
  }

  @include element('icon') {
    font-size: 42px;
    color: #fff;
  }

  @include element('text') {
    color: #fff;
    font-size: 24px;
  }
}