doctype html
html(lang='en-US')
    head
        title Funny
        meta(charset="UTF-8")
        <!-- inject:css -->
        <!-- endinject -->
        link(rel="stylesheet" href="/assets/css/main.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
    body
        h1 Hello
        <!-- inject:js -->
        <!-- endinject -->
        script(src="/assets/js/main.js")
