doctype html
html(lang='en-US')
    head
        title Thẩm mỹ Hùng Vương
        meta(charset="UTF-8")
        <!-- inject:css -->
        <!-- endinject -->
        link(rel="stylesheet" href="/assets/css/main.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
    body
        header(id="header")
            .row.line-title
                .container
                    .col-sm-6.working-time
                        i(class="fa fa-calendar working-time-icon" aria-hidden="true")
                        span Giờ làm việc: T2-CN (9am-21pm)
                    .col-sm-6.header-icon-link
                        a(href="#")
                            i(class="fa fa-facebook-square icon-top" aria-hidden="true")
                        a(href="#")
                            i(class="fa fa-youtube icon-top" aria-hidden="true")

                        a(href="#")
                            i(class="fa fa-google-plus-square icon-top" aria-hidden="true")
                        a(href="#")
                            i(class="fa fa-twitter icon-top" aria-hidden="true")
            .row.header__menu
                nav.navbar.navbar-default.nav-style
                   .container-fluid.header__menu-bg
                        .navbar-header
                            button(type="button" data-toggle="collapse" data-target="#myNavbar"  class="navbar-toggle")
                                span.sr-only Toggle navigation
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a(href="http://thammihungvuong.com.vn/" class="navbar-brand")
                                img(class="header__logo" src="assets/img/az-logo.png" alt="logo")
                        #myNavbar.collapse.navbar-collapse.navbar-right
                            ul.nav.navbar-nav.nav-style
                                li.active.home
                                    a.home(href="#") TRANG CHỦ
                                li
                                    a(href="#") THẨM MỸ KHUÔN MẶT
                                li
                                    a(href="#") BẢNG GIÁ
                                li
                                    a(href="#") KIẾN THỨC THẨM MỸ
                                li
                                    a(href="#") LIÊN HỆ
                                li.phone
                                    .hotline
                                        .col-md-2
                                            i(class="fa fa-mobile fa-4x" aria-hidden="true")
                                        .col-md-10.hotline-box
                                            span.hotline-text HOTLINE
                                        .col-md-10.clearfix
                                            span.hotline-number 0918 045 516
        //END HEADER

        section#main-slider
            .slider.auto-slider-banner(role="toolbar")
                div
                    a(href="#")
                        img.slider__img.img-responsive(src="assets/img/img1.jpg" alt="image slider")
                div
                    a(href="#")
                        img.slider__img.img-responsive(src="assets/img/img2.jpg" alt="image slider")
                div
                    a(href="#")
                        img.slider__img.img-responsive(src="assets/img/img1.jpg" alt="image slider")
                div
                    a(href="#")
                        img.slider__img.img-responsive(src="assets/img/img2.jpg" alt="image slider")

        //END SLIDER

        section#appointment
            .container-fluid
                .row
                    .container.appoint-header
                        .col-sm-4
                            .col-sm-10.appoint-header__box.box-left
                                img.img-responsive(src="assets/img/az-logo.png")
                                h4 PHẨU THUẬT GỌT MẶT V LINE
                        .col-sm-4
                            .col-sm-10.col-sm-offset-1.appoint-header__box.box-center
                                img.img-responsive(src="assets/img/az-logo.png")
                                h4 NÂNG MŨI KHÔNG PHẨU THUẬT
                        .col-sm-4
                            .col-sm-10.col-sm-offset-2.appoint-header__box.box-right
                                img.img-responsive(src="assets/img/az-logo.png")
                                h4 NÂNG NGỰC NANO CHIP

                .row.appointment__bg
                    .container.appointment__content
                        .col-md-6.appointment__content__left
                            form
                                .form-group
                                    .row.appointment__content__row
                                        .col-md-6
                                            label(for"name") NAME(*)
                                            input.form-control#name(type="text" name="name" placeholder="Your name")
                                        .col-md-6
                                            label(for"lastname") LAST NAME(*)
                                            input.form-control#lastname(type="text" name="lastname" placeholder="Your last name")
                                    .row.appointment__content__row
                                        .col-md-6
                                            label(for"txt-name") DATE OF BIRTH
                                            input.form-control#datebirth(type="date" name="datebirth" placeholder="Date of birth")
                                        .col-md-6
                                            label(for"gender") GENDER
                                            select#gender.form-control(name="gender")
                                                option(value="") Select gebder
                                                option(value="male") male
                                                option(value="female") female
                                    .row.appointment__content__row
                                        .col-md-6
                                            label(for"email") EMAIL
                                            input.form-control#email(type="email" name="email" placeholder="Email")
                                        .col-md-6
                                            label(for"phone") PHONE
                                            input.form-control#phone(type="text" name="phone" placeholder="Phone")
                                    .row.text-right.border-top
                                        .col-md-12
                                            button.btn.btn-default.btn-appointment(type="summit") NEXT
                        .col-md-6.appointment__content__right
                            .row
                                .icon-circle
                                    img.img-responsive(src="assets/img/icon1.png")
                                .col-sm-9
                                    h5 HEALTH INFOMARTION
                                    .appointment-title
                                    span.appointment-text Lorem Ipsum is simply dummy text of the printing and typesetting industry
                            .row
                                .icon-circle
                                    img.img-responsive(src="assets/img/icon1.png")
                                .col-sm-9
                                    h5 HEALTH INFOMARTION
                                    .appointment-title
                                    span.appointment-text Lorem Ipsum is simply dummy text of the printing and typesetting industry
                            .row
                                .icon-circle
                                    img.img-responsive(src="assets/img/icon1.png")
                                .col-sm-9
                                    h5 HEALTH INFOMARTION
                                    .appointment-title
                                    span.appointment-text Lorem Ipsum is simply dummy text of the printing and typesetting industry
                            .row
                                .icon-circle
                                    img.img-responsive(src="assets/img/icon1.png")
                                .col-sm-9
                                    h5 HEALTH INFOMARTION
                                    .appointment-title
                                    span.appointment-text Lorem Ipsum is simply dummy text of the printing and typesetting industry




        //END APPOINTMENT

        section#service
            .container-fluid
                .row.line-title
                    h1.line-title-text DỊCH VỤ TIÊU BIỂU
                .container
                    .service__slider.auto-slider-service(role="toolbar")
                        .col-sm-3.service__slider__box
                            a(href="#")
                                img.service__slider-img.img-responsive(src="assets/img/img1.jpg" alt="image slider")
                                span.service__slider-text Nâng mũi S line 3D - Mũi đẹp ...
                        .col-sm-3.service__slider__box
                            a(href="#")
                                img.service__slider-img.img-responsive(src="assets/img/img2.jpg" alt="image slider")
                                span.service__slider-text Gọt mặt Vline 3D công nghệ Hàn Quốc
                        .col-sm-3.service__slider__box
                            a(href="#")
                                img.service__slider-img.img-responsive(src="assets/img/img1.jpg" alt="image slider")
                                span.service__slider-text Bắn mi Hàn Xẻng Dove Eyes tạo đôi...
                        .col-sm-3.service__slider__box
                            a(href="#")
                                img.service__slider-img.img-responsive(src="assets/img/img2.jpg" alt="image slider")
                                span.service__slider-text Cắt mi mắt Eyelid - Tạo mắt hai mi ...
                        .col-sm-3.service__slider__box
                            a(href="#")
                                img.service__slider-img.img-responsive(src="assets/img/img1.jpg" alt="image slider")
                                span.service__slider-text Nâng mũi S line 3D - Mũi đẹp ...
                        .col-sm-3.service__slider__box
                            a(href="#")
                                img.service__slider-img.img-responsive(src="assets/img/img2.jpg" alt="image slider")
                                span.service__slider-text Gọt mặt Vline 3D công nghệ Hàn Quốc
                        .col-sm-3.service__slider__box
                            a(href="#")
                                img.service__slider-img.img-responsive(src="assets/img/img1.jpg" alt="image slider")
                                span.service__slider-text Bắn mi Hàn Xẻng Dove Eyes tạo đôi...
                        .col-sm-3.service__slider__box
                            a(href="#")
                                img.service__slider-img.img-responsive(src="assets/img/img2.jpg" alt="image slider")
                                span.service__slider-text Cắt mi mắt Eyelid - Tạo mắt hai mi ...
        //END SERVICE

        section#knowledge
            .container-fluid
                .row.line-title
                    h1.line-title-text KIẾN THỨC THẨM MỸ
                .row.knowledge-bg
                     .container.knowledge
                         .col-md-4
                             .knowledge__content
                                 .knowledge__content__pic
                                    img.knowledge-img(src="assets/img/img4.png")
                                    .knowledge-date-create
                                        span 25
                                        p DEC
                                 .knowledge__content__text
                                    h3 KIẾN THỨC THẨM MỸ
                                    span Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                         .col-md-4
                             .knowledge__content
                                 .knowledge__content__pic
                                     img.knowledge-img(src="assets/img/img4.png")
                                     .knowledge-date-create
                                         span 25
                                         p DEC
                                 .knowledge__content__text
                                     h3 KIẾN THỨC THẨM MỸ
                                     span Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                         .col-md-4
                             .knowledge__content
                                 .knowledge__content__pic
                                     img.knowledge-img(src="assets/img/img4.png")
                                     .knowledge-date-create
                                         span 25
                                         p DEC
                                 .knowledge__content__text
                                     h3 KIẾN THỨC THẨM MỸ
                                     span Lorem Ipsum is simply dummy text of the printing and typesetting industry.



        //END knowledge

        section#doctor
            .container-fluid
                .row.line-title
                    h1.line-title-text ĐỘI NGŨ BÁC SĨ
                .row
                    .container-fluid.doctor
                        .col-md-4
                            .doctor__content
                                .doctor__content__pic
                                    img.img-responsive.doctor-img(src="assets/img/doc.jpg")
                                .doctor__content__text
                                    .content__text-box
                                      h1 Dr. Smile John
                                      h5 Orthopaedics
                                      span Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        .col-md-4
                            .doctor__content
                                .doctor__content__pic
                                    img.img-responsive.doctor-img(src="assets/img/doc.jpg")
                                .doctor__content__text
                                    .content__text-box
                                        h1 Dr. Smile John
                                        h5 Orthopaedics
                                        span Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        .col-md-4
                            .doctor__content
                                .doctor__content__pic
                                    img.img-responsive.doctor-img(src="assets/img/doc.jpg")
                                .doctor__content__text
                                    .content__text-box
                                        h1 Dr. Smile John
                                        h5 Orthopaedics
                                        span Lorem Ipsum is simply dummy text of the printing and typesetting industry.


        h1(style="background: red;") hi


        //End menu

        //KO
        <!-- inject:js -->
        <!-- endinject -->
        script(src="/assets/js/main.js")
